<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<footer th:fragment="footer_info" class="footer" style="margin-top:20px;padding:20px">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-3 address wow fadeInUp" data-wow-duration="2s" data-wow-delay=".1s">
                    <h1>
                        联系方式
                    </h1>
                    <address>
                        <p><i class="fa fa-home pr-10"></i>Address: HangZhou.ZheJiang</p>
                        <p><i class="fa fa-phone pr-10"></i>Weixin : <a href="javascript:;">grayBlog</a></p>
                        <p><i class="fa fa-envelope pr-10"></i>Email : <a href="javascript:;">bangzewu@126.com</a></p>
                    </address>
                </div>

                <div class="col-lg-2 col-sm-2 wow fadeInUp animated" data-wow-duration="2s" data-wow-delay=".7s" data-wow-animation-name="fadeInUp" style="visibility: visible; animation-duration: 2s; animation-delay: 0.7s; animation-name: fadeInUp;">
                    <div class="page-footer">
                        <h1>个人主页</h1>
                        <ul class="page-footer-list">

                            <li><i class="fa fa-github-square"></i>
                                <a href="https://github.com/liuyueyi">
                                    Github主页
                                </a>
                            </li>
                            <li><i class="fa fa-file-o"></i>
                                <a href="https://my.oschina.net/u/566591">
                                    博客首页
                                </a>
                            </li>
                            <li><i class="fa fa-qrcode"></i>
                                <a href="https://mp.weixin.qq.com/s/77_znX6-wbe9fO7KGJf-VQ">
                                    微信公众号
                                </a>
                            </li>
                        </ul>

                    </div>
                </div>

                <div class="col-lg-2 col-sm-2  wow fadeInUp animated" data-wow-duration="2s" data-wow-delay=".7s" data-wow-animation-name="fadeInUp" style="visibility: visible; animation-duration: 2s; animation-delay: 0.7s; animation-name: fadeInUp;">
                    <div class="page-footer">
                        <h1> + </h1>
                        <ul class="page-footer-list">

                            <li><i class="fa fa-github-square"></i>
                                <a href="https://github.com/liuyueyi">
                                    Gitee主页
                                </a>
                            </li>
                            <li><i class="fa fa-file-o"></i>
                                <a href="https://gitee.com/liuyueyi">
                                    CSDN博客
                                </a>
                            </li>
                            <li><i class="fa fa-qrcode"></i>
                                <a href="https://www.toutiao.com/c/user/69862071663/#mid=1579653107239950">
                                    头条号
                                </a>
                            </li>
                        </ul>

                    </div>
                </div>

                <div class="col-lg-3 col-sm-3 wow col-lg-offset-2 col-sm-offset-2 fadeInUp animated" data-wow-duration="2s" data-wow-delay=".3s" data-wow-animation-name="fadeInUp" style="visibility: visible; animation-duration: 2s; animation-delay: 0.3s; animation-name: fadeInUp;">
                    <h1>公众号</h1>
                    <div>
                        <img src="http://s3.mogucdn.com/mlcdn/c45406/171203_36j204d8e1deild5li4c116b9c137_640x340.jpg" style="height:120px"/>
                    </div>
                </div>


                <!--<div class="col-lg-3 col-sm-3 wow fadeInUp animated" data-wow-duration="2s" data-wow-delay=".3s" data-wow-animation-name="fadeInUp" style="visibility: visible; animation-duration: 2s; animation-delay: 0.3s; animation-name: fadeInUp;">-->
                    <!--<h1>小程序码</h1>-->
                    <!--<div>-->
                        <!--<img src="http://s15.mogucdn.com/mlcdn/c45406/171203_0cda44di2ha2lic21316ibhl8h1lf_860x860.jpg" style="height:120px"/>-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div class="col-lg-3 col-sm-3 col-lg-offset-3 col-sm-offset-3" style="margin-top: 10px">-->
                    <!--<div class="text-footer wow fadeInUp" data-wow-duration="2s" data-wow-delay=".7s">-->
                        <!--<tweet-box>-->
                            <!--<img src="https://static.oschina.net/uploads/img/201710/13203703_6IVg.jpg" style="height:120px"/>-->
                        <!--</tweet-box>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        </div>
    </footer>

</body>
</html>