<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<footer th:fragment="footer" class="footer-small">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6 pull-right">
                    <ul class="social-link-footer list-unstyled">
                        <li class="wow flipInX" data-wow-duration="2s" data-wow-delay=".7s"><a href="https://github.com/liuyueyi"><i class="fa fa-github"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <div class="copyright"> <p>&copy; Copyright 2017~2018 - YiHui
                        <a href="https://github.com/liuyueyi/quick-media" target="_blank" title="模板之家" style="color:#47ccab">
                            QuickMedia</a>

                    </p>
                    </div>
                </div>
            </div>
        </div>
</footer>

</body>
</html>