<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<header th:fragment="header" class="head-section">
        <div class="navbar navbar-default navbar-static-top container">
            <div class="navbar-header">
                <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/webs/index">Z<span>bang+</span></a>
            </div>
            <div class="navbar-collapse collapse">
                <!--菜单-->
                <section class="menu-section">
                    <ul th:replace="partials/menu :: menu">
                    </ul>
                </section>
                <!--菜单结束-->
            </div>
        </div>
</header>

</body>
</html>