<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="header_banner" class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-sm-2">
                <h1 th:text="${banner.title}">
                    标题
                </h1>
            </div>
            <div class="col-lg-4 col-sm-4">
                <h5 th:text="${banner.subTitle}" style="color:#afb0b5">
                    副标题
                </h5>
            </div>

            <div class="col-lg-6 col-sm-6">
                <ol class="breadcrumb pull-right">
                    <li th:each="obj,stat:${banner.menuList}">
                        <a th:href="${obj.url}" th:text="${obj.menu}">
                            Pages
                        </a>
                    </li>
                </ol>
            </div>
        </div>
    </div>

</div>
</body>
</html>