<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layouts/main_layout">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <!--<link rel="stylesheet" th:href="@{/css/plugins/markdown/editormd.css}"></link>-->

    <title>Z+ | html转图片</title>
</head>
<body>

<div layout:fragment="main_content" class="container">

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-2 col-md-offset-1" align="right" style="padding-top:5px">
                <label>网页链接：</label>
            </div>
            <div class="col-md-7">
                <div class="input-group margin">
                    <input type="text" class="form-control" placeholder="请输入网页链接" id="htmlurl"/>
                    <span class="input-group-btn">
                <button class="btn btn-info btn-flat" type="button" id="executeBtn">Go!</button>
                </span>
                </div>
            </div>
            <div class="col-md-2 pull-left">
                <a class="btn btn-success btn-flat" type="button" target="_blank" id="preBtn">网址检测</a>
            </div>
        </div>

        <!--<div class="col-md-12" style="padding-top:40px">-->
        <!--<hr/>-->
        <!--<div class="col-md-offset-2">-->
        <!--<label>输出图片预览:</label>-->
        <!--</div>-->

        <!--</div>-->


        <div class="col-md-10 col-md-offset-2">
            <div class="owl-item" style="width: 90%;min-height:200px">
                <div class="item view view-tenth">
                    <img src="" alt="这里是图片预览" id="data"/>
                    <div class="mask">
                        <a id="imgDetail" href="" target="_blank" class="info" data-toggle="tooltip" data-placement="top" title="" data-original-title="Details">
                            <i class="fa fa-eye">
                            </i>
                        </a>
                        <a id="imgLink" href="" class="info" data-toggle="tooltip" data-placement="top" title="" data-original-title="Details">
                            <i class="fa fa-link">
                            </i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/web/assets/biz/htmljs.js"></script>
</div>


</body>
</html>
