<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layouts/main_layout">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <!--<link rel="stylesheet" th:href="@{/css/plugins/markdown/editormd.css}"></link>-->

    <title>Quick Blog Console</title>
</head>
<body>

<div th:fragment="toolbox" class="container">

    <div id="home-services">

        <div class="container" th:each="cell:${toolBox}">
            <div class="row">
                <div class="col-md-12">
                    <h2 th:text="${cell.toolName}">
                        Image Tools
                    </h2>
                </div>


                <div class="col-md-4" th:each="obj:${cell.tools}">
                    <div class="h-service" style="cursor:pointer"
                         th:onclick="'javascript:window.location.href=\'' + ${obj.url} + '\''">
                        <div class="icon-wrap ico-bg round-fifty wow fadeInDown animated"
                             data-wow-animation-name="fadeInDown"
                             style="visibility: visible; animation-name: fadeInDown;">
                            <i class="" th:class="'fa ' +  ${obj.logo}">
                            </i>
                        </div>
                        <div class="h-service-content wow fadeInUp animated" data-wow-animation-name="fadeInUp"
                             style="visibility: visible; animation-name: fadeInUp;">
                            <h3 th:text="${obj.title}">
                                PRESALE QUESTION
                            </h3>
                            <p>
                                <span th:text="${obj.desc}">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim  laborum.
                                    </span>
                                <br/>
                                <a href="#" th:href="${obj.url}">
                                    神奇传送门>>>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <hr/>
            <!-- /row -->

        </div>
        <!-- /container -->

    </div>
</div>



</body>
</html>
